@import "src/styles/main";
.dashboard {
    overflow: hidden;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 3;
}

.header {
    display: flex;
    flex-direction: row;
    flex-grow: 3;
    /* justify-content: space-between; */
}

.side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $color_accent;
    flex-grow: 0.1;
}

.side > div{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: medium;
}

.side ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.side li{
    display: flex;
    width: 100%;
    background-color: $color_accent-light;
    border: 2px solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-color: $color_accent;
    padding: 2% 2% 2% 4%;
    justify-content: flex-start;
    align-items: center;
    margin: 5%;
}

.side li:hover{
    background-color: $color_primary;
    cursor: pointer;
    padding: 2px;
}

.card span{
    margin: 10px;
}

.svg {
    padding-left: 2%;
}

.nav-list {
    float: left;
    display: block;
}

.body {
    display: flex;
    flex-direction: column;
    flex-grow: 4;
    background-color: $color_accent-lighter;
}

.body > div {
    display: flex;
    background-color: white;
    border:10px $color_accent-lighter solid;
}

.card_one {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1%;
    justify-content: space-between;
    // flex-grow: 1;
}

.card_one > h5 {
    justify-content: start;
    padding: 0px;
    margin: 0px;
    color: $color_accent;
}

.addIcon {
    justify-content: end;
    font-size: x-large;
    color: $color_primary;
    padding: 0px;  
}

#table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
#table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
  
#table tr:nth-child(even) {
    background-color: #f2f2f2;
}
  
#table tr:hover {
    background-color: $color_primary;
}
  
#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: $color_accent;
    color: white;
}
  
.actions{
    display: flex;
    justify-content: space-around;
}

// .card_two {
//     flex-grow: 12;
// }