$color_primary: #F56D3A;
$color_primary_light: #F99A3D;
$color_primary_lighter: #FFC83D;
$color_accent: #413F4A;
$color_accent-light: #625F61;
$color_accent-lighter: #938A8B;
$color_success: #2ecc71;

body, html{
  height: 100%;
  width: 100%;
}

#root{
  height: 100%;
  width: 100%;

}