$color_primary: #F56D3A;
$color_primary_light: #F99A3D;
$color_primary_lighter: #F99A3D;
$color_accent: #413F4A;

body, html{
  height: 100%;
  width: 100%;
}

#root{
  height: 100%;
  width: 100%;

}