.user-div {
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.user-photo {
    vertical-align: middle;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.addBtn {
    width: 150px;
    height: 35px;
    background-color: blue;
    border-radius: 25px;
    color: white;
    font-size: large;
    float: right;
}
