.commentDiv {
    height: auto;
    display: flex;
    margin-top: 50px;
}

.userDiv {
    margin-left: 30px;
    width: 100%;
}

.user-photo {
    vertical-align: middle;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.addBtn {
    width: 150px;
    height: 35px;
    background-color: blue;
    border-radius: 25px;
    color: white;
    font-size: large;
    float: right;
}

.commentBody {
    border: solid 1px rgb(209, 205, 205);
    background-color: rgb(240, 239, 239);
    border-radius: 10px;
    width: 100%;
}

.createdAt {
    color: gray;
    font-size: smaller;
}
